# Porta publicada pelo Flask no seu computador
FLASK_PORT=5000

# Altere em produção. No Docker, o host do Mongo é o nome do serviço: mongo.
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=troque-esta-senha
MONGO_INITDB_DATABASE=stm_tour
MONGO_URI=mongodb://admin:troque-esta-senha@mongo:27017/stm_tour?authSource=admin
